
.ui-container{
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    height: calc(100% - 55px);
}

nav{
    height: 55px;
    width: 100%;
}

.nav-left img{
    width: 90%;
}

.form-control{
    background-color: #E5E5E5;
}

nav ul{
    list-style-type: none;
}

.fa-bell{
    color: darkorange;
}

/* start left-side nav */
main .left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 40px 0;
    width: 150px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

main .left-side .left-side-top{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

main .left-side .left-side-top .left-side-item,
main .left-side .left-side-bottom .left-side-item{
    display: flex;
    justify-content: center;
}

main .left-side .left-side-top i,
main .left-side .left-side-bottom i{
    color: white;
    margin-right: 16px;
}

main .left-side a{
    text-decoration: none;
    color: white;
}

/* end left-side nav */

.right-side{
    width: calc(100% - 150px);
    background-color: #F8F9FA;
}

.right-side-top{
    height: 100px;
    background-color: #1B72E8;
}

/* start header */
.right-side-top .__my-badge{
    background-color: rgba(5, 30, 52, 0.2);
}

.boolean-text{
    font-size: 1.5em;
}

.__my-badge{
    font-size: 0.7em;
}

.student-text{
    font-size: 0.8em;
}

.student-number{
    font-size: 1.4em;
}

.student-add span{
    font-size: 0.8em;
}

.right-side-center{
    height: calc(100% - 100px);
}

.img-fluid{
    width: 7%;
}

th, td{
    font-size: 0.7em;
}

.card-header{
    font-size: 1.2em;
}

.accordion-button, .accordion-body{
    font-size: 12px;
}

.card-text{
    font-size: 0.8em;
}

.list-group-item{
    font-size: 0.7em;
}

.table>:not(caption)>*>* {
    padding: 8px 0 2px;
}

.accordion-item:first-of-type .accordion-button {
    border-radius: 0;
}

.card-body a{
    font-size: 0.8em;
}