
.ui-container{
    width: 100vw;
    height: 100vh;
}

main{
    display: flex;
    height: calc(100% - 50px);
}

nav{
    height: 50px;
    width: 100%;
}

.nav-left img{
    width: 90%;
}

.nav-left img:last-child{
    width: 50px;
}

.form-control{
    background-color: #E5E5E5;
}

nav ul{
    list-style-type: none;
}

.fa-bell{
    color: darkorange;
}

.dropdown-toggle:empty::after{
    display: none;
}

input::placeholder{
    font-size: 0.8em;
}

input{
    height: 30px;
}

/* start left-side nav */
main .left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 0;
    width: 150px;
    height: 100%;
    background-image: url(../img/sidebar-bg.png);
    background-color: #051E34;
}

main .left-side .left-side-top{
    display: flex;
    flex-direction: column;
}

main .left-side .left-side-top .left-side-item,
main .left-side .left-side-bottom .left-side-item{
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding: 10px 20px;
}

.left-side-item:hover{
    background-color: rgba(128, 128, 128, 0.6);
    border-radius: 4px;
    margin-left: 16px;
    margin-right: 16px;
}

.text{
    font-size: 0.8em;
    padding: 0 10px;
}

.stats{
    padding-left: 10px;
}

main .left-side .left-side-top i,
main .left-side .left-side-bottom i{
    color: white;
}

main .left-side a{
    text-decoration: none;
    color: white;
}
/* end left-side nav */

.right-side{
    width: calc(100% - 150px);
    background-color: #F8F9FA;
    overflow-y: auto;
}

.right-side-top{
    background-color: #1B72E8;
}

.right-side-top .__my-badge{
    background-color: rgba(5, 30, 52, 0.2);
}

.boolean-text{
    font-size: 1.3em;
}

.student-text{
    font-size: 0.7em;
}

.btn-primary{
    font-size: 0.9em;
}

.student-number{
    font-size: 1.4em;
}

.img-fluid{
    width: 20px;
}

.my-th-width{
    width: 80px;
    text-align: center;
}

th, td{
    font-size: 0.7em;
}

td{
    text-align: center;
}

.card-header{
    font-size: 1.2em;
}

.accordion-button{
    padding: 8px 20px;
}

.accordion-button, .accordion-body{
    font-size: 11px;
}

.card-title{
    font-size: 0.8em;
}

.list-group-item,
.card-body a,
.card-text,
.__my-badge{
    font-size: 0.6em;
}

.table>:not(caption)>*>* {
    padding: 8px 0 8px;
}

.my-breadcrumb .breadcrumb-item::before{
    color: white;
}

.offcanvas input, .input-group-text{
    height: 35px;
    background-color: white;
}

.form-check input{
    height: 16px;
    width: 16px;
}

@media screen and (max-width: 768px){
    .dis-no{
        display: none;
    }

    .__boolean{
        order: 1;
    }
    .__online-student{
        order: 2;
    }

    .__student-add{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-top: 6px;
        order: 0;
    }

    .offcanvas {
        width: 100%!important;
        overflow: auto;
    }
}

@media screen and (max-width: 991px){
    .__my-container{
        padding-left: 0;
    }
    main .left-side{
        display: flex;
        align-items: center;
        padding: 20px 0;
        width: 50px;
    }

    .right-side{
    width: calc(100% - 50px);
}

    .text{
        display: none;
    }

    .__not{
        display: none;
    }

}

@media screen and (min-width: 992px){
    .__dis-not{
        display: none;
    }
}

